main{
    background-image:  url(/img/macaron.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;
}
.hero{
    height: 100%;
    width: 100%;
    
}
.hatter{
    background-color: wheat;
}

.text{
    background-color: rgba(255, 255, 255, 0.603);
    padding: 5em;
    border-radius: 50px;
}

#video,video{
    width: 100%;
    min-height: 400px;
}

#map{
    min-height: 650px;
}